attrs
Automat
certifi
cffi>=2.0.0
charset-normalizer
constantly
cryptography
cssselect
filelock
hyperlink
idna
incremental
itemadapter
itemloaders
jmespath
lxml
packaging
parsel
Protego
pyasn1
pyasn1-modules
pycparser
PyDispatcher
pyOpenSSL
pyparsing
queuelib
requests
requests-file
Scrapy
service-identity
six
tldextract

twisted-iocpsupport
typing_extensions
urllib3
w3lib
zope.interface
